:root {
    --rum-50: #f7f7f8;
    --rum-100: #f2f0f3;
    --rum-200: #e7e2e8;
    --rum-300: #d4cbd6;
    --rum-400: #b9aabc;
    --rum-500: #a18fa5;
    --rum-600: #816c84;
    --rum-700: #755f77;
    --rum-800: #625163;
    --rum-900: #544655;
    --rum-950: #312631;    
}

p {
    background-color: var(--rum-700);
}